@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



body {
    padding-top: 60px;
}
  
section {
    overflow: auto;
}
  
textarea {
    resize: vertical;
}
  
.center {
    text-align: center;
}
  
.center h1 {
    margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

/*header*/

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 10px;
    font-weight: normal;
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }

  #make-post {
      
      float: left;
      margin-right: 8px;
  }
  #make-post-2{
    color: #66cc99;
    float: right;
  }

  #home-icon {
      
    float: left;
    margin-right: 8px;
}
#home-icon-2{
  float: right;
  color: #fff;
}

  header {
      height: 60px;
  //     .contaner{
  //       nav {
  //         ul {
  //           li {
  //             float: left;
  //           }
  //         }
  //       }
  //     }
  }

  


/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a {
    color: #555;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }
/* sidebar */

aside {
    section.user_info {
      margin-top: 50px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
}
  
.gravatar {
    float: left;
    margin-right: 10px;
}
  
.gravatar_edit {
    margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
    
}
  
input {
    height: auto !important;
    
}

#post_btn{
    width: 100px;
}

#preview_btn {
    width: 100px;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }

  #preview_back{
      width: 100px;
      margin-left: 20px;
  }

  #preview_create{
      width: 100px;
      float: left;
  }

  /* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

/* home */

aside {
    ul.select_order{
        margin-top: 65px;
        li {
            margin: 15px 0;
            list-style: none;
            margin-left: -30px;
            font-size: 17px;
            a {
                color: black;
                text-decoration: none;
            }
            a:hover{
                color: skyblue;
            }
        }
    }
}

.col-md-8{
    .row{
        .form-group{
            .col-md-10{
                .form-control{
                    margin-top: 30px;
                }
            }
            .col-md-2{
                .btn{
                    margin-top: 15px;
                }
            }

        }
    }
}


/* posts */

.posts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.image {
    margin-top: 10px;
    input {
      border: 0;
    }
  }


  #post_content {
      height: 70vh;
  }

  aside {
      h1.post_title{
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;
        font-size: 3rem;
      }
  }

  #delete_edit{
      float: right;
  }